- let styles = ["https://goo.gl/oHxH6B","/public/style.css","https://goo.gl/5Fnxn6"];
- let scripts = ["https://code.jquery.com/jquery-3.2.1.min.js","https://goo.gl/n4oPPL","/public/player.js"];

mixin link(src, type)
    link(href=src, rel=type)

mixin script(src)
    script(type="text/javascript", src=src)

mixin button(s)
    .button(id=s.id, data-url=s.filename.split('.')[0])
        i(class="material-icons") &#xE038;
        span(class="songtext") &nbsp; #{s.song_name}

mixin player()
    .player
        center
            i(class="material-icons" id="playbutton") &#xE039;
            span &nbsp;
            input(type="range" id="seekbar" min="0" max="1" step="any")

doctype html
html
    head
        for l in styles
            +link(l, "stylesheet")
    body(style='background-color: #b6bec7;')
        nav(class="navbar navbar-expand-md bg-dark")
            .container
                a(class='navbar-brand text-light' href='/') Woofy World
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link" href="/") Home
                    li(class="nav-item")
                        a(class="nav-link" href="/music") Music
                    li(class="nav-item")
                        a(class="nav-link" href="/users") Users
                    li(class="nav-item")
                        a(class="nav-link" href="/about") About
        div(class="container-fluid", style="padding: 10px; background-color: #b6bec7;")
            .container
                block content
        footer(class='footer text-light bg-dark')
            div(class='container' id='footer')
                center
                    .text-muted
                        span Woofy World 2017 | 
                        a(href='http://facebook.com/detrimentalist') Facebook
                        span  | 
                        a(href='http://steamcommunity.com/id/detriment') Steam
            +player
        for l in scripts
                +script(l)