- let styles = ["https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css","https://fonts.googleapis.com/icon?family=Material+Icons"];

mixin script(src, type)
    if type
        script(type=type, src=src)
    else
        script(type="text/javascript", src=src)

mixin link(src, type)
    link(href=src, rel=type)

doctype html
html
    head
        for link in styles
            +link(link, "stylesheet")
    body
        div(id="root")
        +script("/public/bundle.js")